@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body { background-color: rgba(0, 0, 0, 0.2); font-family: 'Open Sans', sans-serif; font-size: 10px; font-weight: 400; color: #707070; line-height: 14px; }
